.container {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  width: 1200px;
}
section img {
  width: 100px;
}
ul {
  display: flex;
  color: gray;
  gap: 30px;
}
ul li {
  list-style-type: none;
}
.active {
  color: black;
}
