<section class="about" id="about">
  <h1 class="heading"><span>about</span> us</h1>
  <div class="roww">
      <div class="video-container">
        <img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/anh-lookbook-thoi-trang_113854100.jpg" alt="">
       
      </div>
      <div class="content">
        <h3>Why chose us?</h3>
        <p>Phong Cách, GIẢN DỊ VƯỢT THỜI TRANG</p>
        <p>GIẢM GIÁ ĐẾN 40% THỜI TRANG NỮ</p>
        <a href="about" class="btn">lear more</a>
      </div>
  </div>

</section>
<div class="container">
  <h2>Who Are You Shopping For ?</h2>

  <ul>
    <li
      [ngStyle]="{ color: selectedOption === 'women' ? 'black' : 'gray' }"
      (click)="selectOption('women')"
      (click)="selectOption1('women')"
    >
      Women
    </li>
    <li
      [ngStyle]="{ color: selectedOption === 'men' ? 'black' : 'gray' }"
      (click)="selectOption('men')"
      (click)="selectOption1('men')"
    >
      Men
    </li>
    <li
      [ngStyle]="{ color: selectedOption === 'kids' ? 'black' : 'gray' }"
      (click)="selectOption('kids')"
      (click)="selectOption1('kids')"
    >
      Kids
    </li>
  </ul>
  <div>
    <section class="products" id="products">
      <div class="box" style="display: flex">
        <div *ngFor="let product of filteredProducts">
          <div class="box-cover">
            <a [routerLink]="['/product', product.id]">
              <div>

                <img class="immmg" src="{{ product.imgUrl[0] }}" alt="" />

                <div class="price">{{ product.price }}</div>
              </div>
              <div class="box-text">
                {{ product.name }}
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
