<section class="about" id="about">
    <h1 class="heading"><span>about</span> us</h1>
    <div class="roww">
        <div class="video-container">
          <img src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/anh-lookbook-thoi-trang_113854100.jpg" alt="">
          
        </div>
        <div class="content">
          <h3>Why chose us?</h3>
          <p>Phong Cách, GIẢN DỊ VƯỢT THỜI TRANG</p>
          <p>GIẢM GIÁ ĐẾN 40% THỜI TRANG NỮ</p>
          <a href="" class="btn">lear more</a>
        </div>
    </div>
  
  </section>