<div class="card">
<div class="container">
  <div>
    <h2>Your Cart</h2>
    <p>
      TOTAL ( {{ getTotalQuantity() }} items)
      <b>{{ totalPrice | currency : "VND" }}</b>
    </p>

    <div class="container1">
      <div>
        <div *ngFor="let item of cartItems; let i = index">
          <div class="cart-container">
            <div class="mg"><img [src]="item.img" alt="" /></div>
            <div class="text">
              <p>{{ item.name }}</p>
              <p>{{ item.price * item.quantity | currency : "VND" }}</p>

              <p>Size: {{ item.size }}</p>
              <p>
                Quantity: {{ item.quantity }}

                <i class="fa-solid fa-xmark" (click)="removeItem(i)"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout">
    <div> <button role="button">Check Out <i class="fa-solid fa-arrow-right"></i></button> </div>
    <h3>ORDER SUMMARY</h3>
  </div>
</div>
</div>