<header>
  <input type="checkbox" name="" id="toggler">
  <label for="toggler" class="fas fa-bars"></label>
  <a href="" class="logo">ShopClothes<span>.</span></a>
  <nav class="navbarr">
    <a href="">home</a>
    <a href="#about">about</a>
    <a href="">products</a>
    <a href="">review</a>
    <a href="">contact</a>

  </nav>
  <div class="icon">
    <a href="" class="fas fa-heart"></a>
    <a href="" class="fas fa-shopping-cart"></a>
    <a href="" class="fas fa-user"></a>
  </div>
</header>