<section class="footer">
    <div class="box-container">
      
      <div class="box">
        <h3>extra Links</h3>
        <a href="">my acout</a>
        <a href="">my oder</a>
        <a href="">my favorite</a>
      </div>
      <div class="box">
        <h3>location</h3>
        <a href="">USA</a>
        <a href="">VietNam</a>
        <a href="">japan</a>
        <a href="">china</a>
      </div>
      <div class="box">
        <h3>contact info</h3>
        <a href="">123465675</a>
        <a href="">example@gmail.com</a>
        <a href="">hanoi</a>
        
      </div>
    </div>
    <div class="credit">created by <span>web dev</span></div>
  </section>