.NavbarLogo {
  color: #222;
  font-size: 2rem;
  cursor: pointer;
}
.nav_menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 20px;
  list-style: none;
  align-items: center;
  text-decoration: none;
  color: #222;
}

@media screen and (max-width: 768px) {
  .NavbarItems {
    z-index: 99;
  }
}
.def {
  display: flex;
  justify-content: space-between;
}
