<style>
    .size{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    .minn{
      flex: 1 1 30rem;
      box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 1);
      border-radius: .5rem;
      border: .1rem solid rgba(0, 0, 0, 1);
      position: relative;
    }
    .spnn{
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: .7rem 1rem;
      font-size: 1.2rem;
      color: #FF6699;
      background: rgba(255, 51, 153, .05);
      z-index: 1;
      border-radius:  .5rem;
    }
    .immg{
      position: relative;
      text-align: center;
      padding-top: 2rem;
       overflow: hidden;
    }
    .immmg{
      height: 25rem;
      
    }
    .immmg:hover{
      transform: scale(1.1);
      
    }
    .icc{
      position: absolute;
      bottom: -7rem; left: 0;
      right: 0;
      display: flex;
  
    }
    .icca{
      height: 5rem;
      line-height: 5rem;
      font-size: 2rem;
      width: 50%;
      background: #FF6699;
      color: #fff;
    }
    .icca:hover{
      background: #333;
    }
    .card{
      border-left: .1rem solid #fff7;
      border-right: .1rem solid #fff7;
      width: 100%;
    }
    
  </style>
  <section class="products" id="products">
    <h1 class="heading">
      list <span>products</span>
    </h1>
    <div class="box-con size" >
      
      <!-- <div class="box minn"  *ngFor="let product of products">
            <a [routerLink]="['/product', product.id]">
            <span class="discout spnn">{{product.description}}</span>
             <div class="image immg" >
              <img class="immmg" src="{{product.imgUrl[0]}}" alt="">
               <div class="icons icc">
                <a href="" class="fas fa-heart icca"></a>
                <a href="" class="cart-btn icca card">add to card</a>
                <a href="" class="fas fa-share icca"></a>
              </div>
              </div>
        </a>
        <div class="content">
          <h3>{{product.name}}</h3>
          <div class="price">{{product.price}}</div>
        </div>
        
      </div> -->
      
    </div>
  </section>